package ${tableInfo.servicePackageName}.impl;


import ${tableInfo.entityPackageName}.${tableInfo.className};
import ${tableInfo.mapperPackageName}.${tableInfo.className}Mapper;
import ${tableInfo.queryPackageName}.${tableInfo.className}Query;
import ${tableInfo.servicePackageName}.${tableInfo.className}Service;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * @author $tableInfo.authorName
 */
@Service
public class ${tableInfo.className}ServiceImpl extends ServiceImpl<${tableInfo.className}Mapper, ${tableInfo.className}> implements ${tableInfo.className}Service {

  @Autowired
  private ${tableInfo.className}Mapper ${secondModuleName}Mapper;

  @Override
  public ${tableInfo.className}Query pageByQuery(${tableInfo.className}Query query) {
    query.setDesc("create_time");
    ${secondModuleName}Mapper.pageByQuery(query);
    return query;
  }

}